[package]
name = "kobold"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
wasm-bindgen = "0.2.74"
itoa = "1.0.1"
ryu = "1.0.10"
kobold_macros = "0.2"
console_error_panic_hook = "0.1.7"

[dependencies.web-sys]
version = "0.3"
features = [
  "Document",
  "Element",
  "Event",
  "HtmlElement",
  "Node",
  "Text",
  "Window",
]
