[package]
name = "kobold"
version = "0.1.0"
authors = ["Maciej Hirsz <hello@maciej.codes>"]
edition = "2018"
license = "LGPL-3.0"
readme = "../../README.md"
description = "WIP frontend framework"
repository = "https://github.com/maciejhirsz/kobold"
documentation = "https://docs.rs/kobold"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
beef = "0.5.1"
js-sys = "0.3"
kobold_macros = "0.1"
wasm-bindgen = "0.2.74"
itoa = "0.4.7"
dtoa = "0.4.8"

[dependencies.web-sys]
version = "0.3"
features = [
  "Document",
  "Element",
  "Event",
  "HtmlElement",
  "Node",
  "Text",
  "Window",
]
