canvas {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
  
html, body {
    font-family: sans-serif;
}
  
table {
    border-collapse: collapse;
    table-layout: fixed;
}
  
th {
    background: #eee;
}
  
td, th, input.edit {
    padding: 4px 10px;
    font-size: 12px;
    border: 1px solid #ccc;
}
  
thead.details {
    float: left;
}
  
thead.details th {
    display: block;
    text-align: left;
}
  
tbody.details {
    float: right;   
}
  
tbody.details td {
    display: block;
    text-align: center;
}
  
div.edit, td.edit, th.edit {
    position: relative;
}
  
input.edit {
    font-family: sans-serif;
    border: 0;
    background: #ffa;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
}
  
input.edit-head {
    font-weight: bold;
    text-align: center;
}
  
input[type="file"] {
    padding: 15px;
}

#input-file-select {
   display: inline-flex;
}

/* https://stackoverflow.com/questions/74115573/styling-an-input-type-file-text-next-to-the-button-not-the-button-itself-us */
.container {
    padding: 1em;
    border: 1px solid lightgrey;
    margin: 1em;
    border-radius: 4px;
    display: inline-flex;
}
  
input[type=button] {
    background-color: lightgray;
    border: 0;
    border-radius: 4px;
    padding: .5em 2em;
}

#file-input {
    display: none;
}

.label {
    display: block;
    margin-top: .5em;
    margin-left: 10px;
}
  
#button-file-save {
    display: inline-block;
    background-color: #11cc11;
    border: 2px solid #11aa11;
    border-radius: 4px;
    padding: .5em 2em;
    width: 200px;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    font-size: 1.0em;
    font-weight: 600;
}
  
textarea {
    display: block;
    margin: 10px;
    width: 35%;
    height: 100%;
    min-width: 150px;
    min-height: 30px;
    vertical-align: top;
}
  
div.qr > div {
    text-align: center;
}
